# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=filesharedb

# Auth
JWT_SECRET=your_super_secret_jwt_key_here

# App
UPLOAD_DIR=/storage/uploads
PUBLIC_URL=http://localhost
